<header>
    <h1> Welcome to BillOrganizer! </h1><br>

    <p> Sign up below to get started!</p>

    <form action='/users' method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password"><br>
        <br>
        <input type="submit" name="submit" value="Create Account"><br>
    </form><br>

    <img src="https://images.unsplash.com/photo-1561414926-0ae39e14fc4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" id="main photo">
    
</header> 