<h1><form method="POST" action='/logout'>
      <input type="submit" name="submit" value="LOG OUT">
</form>
</h1>

<h2>Welcome!</h2><br>

<p> You currently do not have any bills saved to your Organizer. To track your first bill <a href="/bills/new">Track a New Bill</a> here.