<h1><form method="POST" action='/logout'>
      <input type="submit" name="submit" value="LOG OUT">
</form>
</h1>

<h2>Welcome back!</h2><br>

<p>You may <a href="/bills">Review your current bills in Organizer</a> ~or~ <a href="/bills/new">Track a New Bill</a></p>