<h1><form method="POST" action='/logout'>
      <input type="submit" name="submit" value="LOG OUT">
</form>
</h1>

<h2>Welcome back, <%= @user.email %> !</h2><br>

<p>You may review your current bills in <a href="/bills">My Bill Organizer</a>  ~or~  <a href="/bills/new">Track a New Bill</a></p>